*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.App{
  display: flex;
flex-direction: column;
  width: 100%;
  height: 100vh;
}
.pageContent-SideMenu{
display: flex;
flex: 1;
/* padding: 0 5px; */
gap: 10px;
}
body{
  background-color: #85929E;
}
